<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <style>
        table.center {
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <h1>Create your own Assignment</h1>
        <table class="center">
            <tr>
                <td>Course Name</td>
                <td><input type="text" name="course_name"></td>
            </tr>
            <tr>
                <td>Assignment Name</td>
                <td><input type="text" name="assignment_name"></td>
            </tr>
            <tr>
                <td>Start Date and Time </td>
                <td><input type="datetime-local" name="start"></td>
            </tr>
            <tr>
                <td>First Submission Date and Time</td>
                <td><input type="datetime-local" name="first_sub_time"></td>
            </tr>
            <tr>
                <td>Extend deadline with peanlty?</td>
                <td><input type="checkbox" name="extend" id="extend"></input></td>
            </tr>
            <tr>
                <td>Notification after closing</td>
                <td><select id="notif" name="notif">
                        <option id="Y" value="y" selected>Yes</option>
                        <option id="N" value="n">No</option>
                    </select></td>
            </tr>
            <tr>
                <td>Negative marking </td>
                <td><select id="neg_mark" name="neg_mark">
                        <option id="Y" value="y" selected>Yes</option>
                        <option id="N" value="ns">No</option>
                    </select></td>
            </tr>
            <tr>
                <td>Facial Recognition </td>
                <td><select id="face_rec" name="face_rec">
                        <option id="Y" value="y" selected>Yes</option>
                        <option id="N" value="n">No</option>
                    </select></td>
            </tr>
            <tr>
                <td>Result announcement type </td>
                <td><select id="res_anno" name="res_anno">
                        <option id="Ins" value="ins">Instantaneous</option>
                        <option id="Immf" value="immf">Immediately after first submission time</option>
                        <option id="Imms" value="imms" selected>Immediately after second submission time</option>
                        <option id="Res" value="res">At the result time</option>
                    </select></td>
            </tr>
            <tr id="date">
                <td>Second Submission Date and Time </td>
                <td><input type="datetime-local" name="second_sub_time"></td>
            </tr>
            <tr id="penalty">
                <td>Percentage penalty for late submission </td>
                <td><input type="text" name="perc_penalty"></td>
            </tr>
            <tr id="num_subm">
                <td>Number of submissions allowed</td>
                <td><input type="integer" name="no_of_submissions"></td>
            </tr>
            <tr id="rdate">
                <td>Result Date and Time</td>
                <td><input type="datetime-local" name="result_time"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Create Assignment"></td>
            </tr>
        </table>
    </form>
    <script>
        document.getElementById("extend").addEventListener('click', function () {
            if (document.getElementById("extend").checked) {
                document.getElementById("date").style.display = 'block';
                document.getElementById("penalty").style.display = 'block';
            }
            else {
                document.getElementById("date").style.display = 'none';
                document.getElementById("penalty").style.display = 'none';
            }
        })
        document.getElementById("res_anno").addEventListener('change', function () {
            if (document.getElementById("res_anno").value == "ins") {
                document.getElementById("num_subm").style.display = 'block';
            }
            else {
                document.getElementById("num_subm").style.display = 'none';
            }
            if (document.getElementById("res_anno").value == "res") {
                document.getElementById("rdate").style.display = 'block'
            }
            else {
                document.getElementById("rdate").style.display = 'none';
            }
        })
    </script>
</body>

</html>