<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aim2Crack-Assignment</title>
    <style>
    h1 {text-align: center;}
    p {text-align: center;}
    </style>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <h1>{{assign.assignment_name}}</h1>
    <a href='questions/' id="questions">
        <p>Add Question</p>
    </a>
    <p>{{questions.question}}</p>

    <a href='instructions/' id="instructions">
        <p>Add Instruction</p>
    </a>
        <p class="instructive_text2">These instructions will be shown to the student before start of exam.</p>
    <a href='edit/' id="edit">
            <p>Assignment Settings</p>
    </a>
    
</body>
</html>